:root {
    --hvit: #ffffff;
    --svart: #0e0e0e;
    --overskyet: #e7e7e7;
    --overskyet-kontrast: #cecece;
    --soloppgang: #ffb88d;
    --soloppgang-kontrast: #ff8034;
    --skyfritt: #b1e8ff;
    --skyfritt-kontrast: #43cbff;
    --solnedgang: #ff9999;
    --solnedgang-kontrast: #ff5b5b;
    --kveld: #e5b1ff;
    --kveld-kontrast: #8e24c9;
    --natt: #6d7abb;
    --natt-kontrast: #162365;
    --regn: #bccedd;
    --regn-kontrast: #7e9cb9;
    --gul: #fff2ad;
    --gul-kontrast: #fff02b;
    --grønn: #a1f5e3;
    --grønn-kontrast: #16dbc4;
    --morgendis: #707070;
    font-family: 'DINW01Regular';
}

body {
    background: var(--svart);
    color: var(--hvit);
}

a {
    color: var(--skyfritt);
}

body {

    padding-right: 16px;
    padding-left: 16px;
    margin-top: 32px;
    padding-bottom: 64px;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
blockquote,
.center,
img {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    margin-top: 64px;
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2.2rem;
    margin-top: 64px;
}

h3 {
    font-size: 1.8rem;
    margin-top: 64px;
    margin-bottom: 16px;
}

header a {
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: serif;
    color: var(--hvit);
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.bio {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 64px;
}

.author {
    font-weight: 600;
}

header a span.rocket {
    display: block;
    font-size: 6rem;
    margin-bottom: -2rem;
}



.hero,
.hero img,
.wide-image,
.wide-image img {
    display: block;
    width: 1000px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.wide-image {
    margin-top: 64px;
}

.wide-image img {
    height: 400px;
    object-fit: cover;

}

.image-credit {
    font-size: .8rem;
    font-style: italic;
    margin-bottom: 64px;
}

p {
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 1.45;
}

li {
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 1.45;
    margin-bottom: 8px;
}

ul,
ol {
    margin-bottom: 16px;
}

select,
button {
    font-size: 1.5rem;
}